body{
	background: #eee;
}
.site_title{
    text-align: center;
    border: 3px solid #f6f8f9;
    padding: 5px 15px;
    width: 45%;
    margin: 25px auto;
    background: #f57e05;
}
.site_title a {	
    text-decoration: none;
    text-transform: uppercase;
    font-family: tahoma;
    color: #FFF;
}
.recipe-header a:hover{
	color: #b36617;
}
.recipe-header{
	font-size: 20px;
}
button.pcp_color{
	display: block;
	margin: 0 auto;
}
.recipe-header  a{
	color: #112517;
	text-decoration: none;
	text-transform: capitalize;
}
.top_meta{
	border: 1px solid #9E9E9E;
  display: flex;
  padding: 10px;
  /* align-items: baseline; */
  justify-content: space-between;
  margin: 15px 0;
}
.recipe_info{
	display: inline-block;
  margin-right: 20px;
  font-size: 14px;
  padding-bottom: 7px;
}
.list_meta{
	border-bottom: 2px solid #f57e05;
  margin-bottom: 10px;
  margin-right: -10px;
  margin-top: 10px;
  margin-left: -10px;
  padding-left: 10px;
}
.listview h2{
	margin: 10px 0 0;
	
	font-size: 26px;
}
.listview{
	background: #FFF;
	padding: 10px;
	margin-top: 20px;
	position: relative;
}

.view_detail{
	position: absolute;
  right: 0px;
  bottom: 0;
  /* padding: 10px; */
  /* transform: translateY(-50%); */
  border-top-left-radius: 100%;
  font-size: 13px;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
}
.view_detail a{
	font-size: 12px;
    /* display: block; */
    margin-left: 17px;
    margin-top: 0px;
    padding: 6px;
    color: #fff;
    text-shadow: 1px 1px 3px #000;
}
.view_detail a:hover{
	text-decoration: none;
	color: #fff;
}
.pcp_color{
	background: #f57e05;
	color: #fff;
}
.pcp_color:hover{
	background: #b36617;
	color:  #fff;
}
.recipe_highlight{
	height: 55px;
  margin-bottom: 20px;
  overflow: hidden;
  font-size: 14px;
}
.racipe{
	 background: #fff;
   padding: 10px;
}
footer{
	  padding: 40px;
    background: #653f18;
    color: #fff;
}
.action span{
	border: 1px solid #a99d9d;
	cursor:pointer;
  padding: 8px;
  font-size: 20px;
  border-radius: 50%;
  box-shadow: 0px 1px 3px #382c2c;
}
.glyphicon-remove{
	background: #f57e05;
	color: red;
}
.user-avater{
	  color: #f57e05;
    border: 1px solid #f57e05;
    padding: 1px 3px 0;
    background: #b8e0d7;
    font-size: 20px;
    margin-right: 10px;
}
span.sub_heading{
	  text-transform: capitalize;
    font-size: 18px;
    font-weight: 600;
}
@media (max-width: 600px) {
  .recipe_info{
   width: 100%;
  }
}